{% extends 'base.html.twig' %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-7 search-form">
            <div class="header-search-title">
                <h4>Skelbimas</h4>
            </div>
            {{ form_start(our_form) }}
            {{ form_row(our_form.travelerType, {attr: {class: 'form-check form-check-inline'}}) }}
        <div class="col-12">
            <div class="col-3 col-inline-padding-right">
            {{ form_row(our_form.seats, {attr: {class: ''} }) }}
            </div>
            <div class="col-3 col-inline-padding-right"></div>
            <div class="col-6 col-inline-padding-left mt-3">
                {{ form_row(our_form.smoke, {attr: {class: 'form-check form-check-inline'}}) }}
                {{ form_row(our_form.pets, {attr: {class: 'form-check form-check-inline'}}) }}
            </div>
            <div class="clearBoth"></div>
        </div>
            <div class="col-12">
                <div class="col-6 col-inline-padding-right">
                    {{ form_row(our_form.departFrom, {attr: {class: '','placeholder': 'Įrašykite išvykimo adresą'}}) }}
                </div>
                <div class="col-6 col-inline-padding-left">
                    {{ form_row(our_form.destination, {attr: {class: '','placeholder': 'Įrašykite atvykimo adresą'}}) }}
                </div>
                <div class="clearBoth"></div>
            </div>
                <div class="col-12">
                    <div class="col-6 col-inline-padding-right">
                        {{ form_row(our_form.departDate, {attr: {class: ''} }) }}
                    </div>
                    <div class="col-6 col-inline-padding-left">
                        {{ form_row(our_form.departTime, {attr: {class: ''} }) }}
                    </div>
                    <div class="clearBoth"></div>
                </div>

        <div class="col-12">
                {{ form_row(our_form.information, {attr: {class: ''}}) }}
        </div>
            <div class="col-12 btn-row">
                {{ form_widget(our_form.save, {attr: {class: 'btn-yellow col-4'}}) }}
            </div>
            {{ form_end(our_form) }}
        </div>
    {% endif %}
{% endblock %}