{% extends 'base.html.twig' %}

{% block content %}
    <!--============================= ADD TRIP =============================-->
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row search-wrap">
            <div class="col-xl-8 reserve-block">
                  <h5>Išsami jūsų kelionės informacija</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-8 go-back">
                <a href="javascript:history.back()" class="itemData"><i class="fas fa-long-arrow-alt-left"></i> Atgal</a>
            </div>
        </div>
        <div class="row light-bg booking-details_wrap">
                <div class="booking-checkbox_wrap col-xl-8">
                    <div class="form-block col-md-11 mx-auto">
                        {{ form_start(our_form, {attr: {class: 'add-form'}} ) }}
                        <div class="row">
                            <div class="col-4 col-inline-padding-left">
                                {{ form_row(our_form.travelerType, {attr: {class: ''}}) }}
                            </div>
                            <div class="col-8 col-inline-padding-left">
                                {{ form_row(our_form.smoke, {attr: {class: ''}}) }}
                                {{ form_row(our_form.pets, {attr: {class: ''}}) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 col-md-4 col-inline-padding-left item-title">
                                {{ form_label(our_form.seats) }}
                            </div>
                            <div class="col-sm-12 col-md-8 col-inline-padding-right">
                                {{ form_widget(our_form.seats) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 col-md-4 col-inline-padding-left item-title">
                                {{ form_label(our_form.phone) }}
                            </div>
                            <div class="col-sm-12 col-md-8 col-inline-padding-right">
                                {{ form_widget(our_form.phone) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 col-md-4 col-inline-padding-left item-title">
                                {{ form_label(our_form.departFrom) }}
                            </div>
                            <div class="col-sm-12 col-md-8 col-inline-padding-right">
                                {{ form_widget(our_form.departFrom, {attr: {class: 'autocomplite', 'placeholder': 'Įrašykite išvykimo adresą'}}) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 col-md-4 col-inline-padding-left item-title">
                                {{ form_label(our_form.destination) }}
                            </div>
                            <div class="col-sm-12 col-md-8 col-inline-padding-right">
                                {{ form_widget(our_form.destination, {attr: {class: 'autocomplite','placeholder': 'Įrašykite atvykimo adresą'}}) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 col-md-4 col-inline-padding-left item-title">
                                {{ form_label(our_form.departTime) }}
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-4 col-inline-padding-right">
                                {{ form_widget(our_form.departTime) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col item-title col-inline-padding-left">
                                {{ form_label(our_form.information) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-inline-padding-left pr-2">
                                {{ form_widget(our_form.information) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col btn-align">
                                {{ form_widget(our_form.save, {attr: {class: 'btn btn-form3'}}) }}
                            </div>
                        </div>
                        {{ form_end(our_form) }}
                    </div>
                 </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            kendo.culture("lt-LT");
            // create DateTimePicker from input HTML element
            $("#trip_departTime").kendoDateTimePicker({
                value: new Date(),
                //dateInput: true,
                format: "yyyy-MM-dd HH:mm"
            });
        });
    </script>
{% endblock %}
