{% extends 'base.html.twig' %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row slider d-flex flex-row align-items-center">
            <div class="col-sm-12 col-md-9 col-lg-6 col-xl-5 mx-md-auto mx-lg-auto mx-xl-auto registration-form">
                <div class="row">
                    <div class="col form-title">
                        Skelbimas
                    </div>
                </div>
                {{ form_start(our_form) }}
                <div class="row">
                    <div class="col-6 col-inline-padding-left">
                        {{ form_row(our_form.travelerType, {attr: {class: ''}}) }}
                    </div>
                    <div class="col-6 col-inline-padding-left">
                        {{ form_row(our_form.smoke, {attr: {class: ''}}) }}
                        {{ form_row(our_form.pets, {attr: {class: ''}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-inline-padding-left itemTitle">
                        {{ form_label(our_form.seats) }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-inline-padding-right">
                        {{ form_widget(our_form.seats) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-inline-padding-left itemTitle">
                        {{ form_label(our_form.phone) }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-inline-padding-right">
                        {{ form_widget(our_form.phone) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-inline-padding-left itemTitle">
                        {{ form_label(our_form.departFrom) }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-inline-padding-right">
                        {{ form_widget(our_form.departFrom, {attr: {class: 'autocomplite', 'placeholder': 'Įrašykite išvykimo adresą'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-inline-padding-left itemTitle">
                        {{ form_label(our_form.destination) }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-inline-padding-right">
                        {{ form_widget(our_form.destination, {attr: {class: 'autocomplite','placeholder': 'Įrašykite atvykimo adresą'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-inline-padding-left itemTitle">
                        {{ form_label(our_form.departTime) }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-inline-padding-right">
                        {{ form_widget(our_form.departTime) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col itemTitle col-inline-padding-left">
                        {{ form_label(our_form.information) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-inline-padding-left pr-2">
                        {{ form_widget(our_form.information) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col btn-row col-inline-padding-left">
                        {{ form_widget(our_form.save, {attr: {class: 'btn btn-form3'}}) }}
                    </div>
                </div>
                {{ form_end(our_form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            kendo.culture("lt-LT");
            // create DateTimePicker from input HTML element
            $("#trip_departTime").kendoDateTimePicker({
                value: new Date(),
                //dateInput: true,
                format: "yyyy-MM-dd HH:mm"
            });
        });
    </script>
{% endblock %}
