{% extends 'base.html.twig' %}

{% block content %}

    <!-- SEARCH -->
    <div class="row slider d-flex align-items-center">
        <div class="col-md-12">
            <div class="row slider-title_box">
                <div class="col-md-12">
                    <h1>Vykstate į kitą gatvę, miestą ar šalį?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-row justify-content-center">
                    {{ form_start(form, {attr: {class: 'form-wrap mt-4'}}) }}
                    <div class="btn-group" role="group" aria-label="home search">
                        {{ form_widget(form.travelerType, {attr: {class: 'form-check-inline'}}) }}
                        {{ form_row(form.departFrom, {attr: {class: 'btn-group2','placeholder': 'Išvykimo adresas'}}) }}
                        {{ form_row(form.destination, {attr: {class: 'btn-group2','placeholder': 'Atvykimo adresas'}}) }}
                        {{ form_row(form.destination, {attr: {class: 'btn-group2','placeholder': 'Atvykimo adresas'}}) }}
                        {{ form_widget(form.filter, {attr: {class: 'btn-form'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!--//END HEADER -->

    <!--============================= WHY US =============================-->
    <div class="row main-block colored">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                    <h3>Kodėl verta važiuoti kartu?</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 one_quarter"><div class="icon"><img src="images/piggy-bank.png"></div>
                    <div class="dark-color uppercase">Pigiau</div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 one_quarter">
                    <div class="icon"><img src="images/happy.png" ></div>
                    <div class="dark-color uppercase">Linksmiau</div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 one_quarter">
                    <div class="icon"><img src="images/clock.png"></div>
                    <div class="dark-color uppercase">Greičiau</div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 one_quarter">
                    <div class="icon"><img src="images/paw-print.png"></div>
                    <div class="dark-color uppercase">Ir su augintiniu</div>

                </div>
            </div>
        </div>
    </div>
    <!--//END  -->
{% endblock %}