{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <div class="mt-2">
                <h6><b>Filtruoti:</b></h6>
            </div>

            {{ form_start(form) }}
            {% for key, travelerTypeItem in form.travelerType %}
                {% if (app.request.get('travelerType') == 0) and (key == 0)%}
                    {{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'}}) }}
                {% endif %}
                {% if (app.request.get('travelerType') == 1) and (key == 1)%}
                    {{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'}}) }}
                {% else %}
                    {{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline'}}) }}
                {% endif %}

            {% endfor %}
            {{ form_row(form.departFrom, {attr: {class: '','placeholder': 'Įrašykite išvykimo adresą', 'value' :  app.request.get("departFrom") } }) }}

            {{ form_row(form.destination, {attr: {class: '','placeholder': 'Įrašykite atvykimo adresą', 'value' :  app.request.get("destination")} }) }}

            {{ form_row(form.departDate, {attr: {class: '', 'value' :  app.request.get("departDate")} }) }}

            {{ form_row(form.departTime, {attr: {class: '', 'value' :  app.request.get("departTime")} }) }}

            {% if app.request.get('smoke') == 1  %}
                {{ form_row(form.smoke, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'} }) }}
            {% else %}
                {{ form_row(form.smoke, {attr: {class: 'form-check form-check-inline'} }) }}
            {% endif %}
            {% if app.request.get('pets') == 1  %}
                {{ form_row(form.pets, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'} }) }}
            {% else %}
                {{ form_row(form.pets, {attr: {class: 'form-check form-check-inline'} }) }}
            {% endif %}
            {{ form_end(form) }}

        </div>

        <div class="col-3">
            <div class="mt-2">
                <h6><b>Neradote pakeleivių?</b></h6>
                <h6><b>Sukurkite savo skelbimą!</b></h6>
            </div>
            <a class="btn btn-outline-dark" href = "{{ path('add_edit_trip') }}">Kurti skelbimą</a>
        </div>
        <div class="col-2">
            <a class="btn btn-outline-dark mt-4" href = "{{ path('home') }}">Ieškoti iš naujo</a>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="list-scrollbar">
                <table class="table table-striped" style="background-color: #eaedf4">
                    <thead>
                    <tr>
                        <th scope="col" width="120px"><span class="fa fa-car"></span> ar <img class=icons src="/images/passenger.png" alt="keleivis" width="35" height="21"></th>
                        <th scope="col">Iš</th>
                        <th scope="col">Į</th>
                        <th scope="col">Data ir laikas</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                        <tr>
                            {% if trip.travelerType == 0 %}
                                <td scope="row"><span class="fa fa-car"></span></td>
                            {% endif %}
                            {% if trip.travelerType == 1 %}
                                <td scope="row"><img class=icons src="/images/passenger.png" alt="keleivis" width="35" height="21"></td>
                            {% endif %}
                            <td>{{ trip.departFrom }}</td>
                            <td>{{ trip.destination }}</td>
                            <td>{{ trip.departTime|date("Y-m-d H:i") }}</td>
                            <td><button class="btn btn-outline-dark" style="margin: 10px" onclick="location.href = '{{ path('show_trip', {'id': trip.id}) }}';">Peržiūrėti</button></td>
                            <td><button class="btn btn-outline-dark" style="margin: 10px" onclick="location.href = '{{ path('add_edit_trip', {'id': trip.id}) }}';">Redaguoti</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}