{% extends 'base.html.twig' %}

{% block content %}
    <!--============================= DETAIL =============================-->
    {#<section style="margin-top:100px;">#}
        {#<div class="container-fluid">#}
            <!--================= SEARCH ====================-->
            <div class="row">
                <div class="col-md-12 responsive-wrap search-wrap">

                    {{ form_start(form, {attr: {class: 'form-wrap'}}) }}
                    <div class="row detail-checkbox-wrap col-lg-11">
                        <div class="col-sm-12 col-md-1 first-group">
                            <div class="btn-group" role="group">
                                {% for key, travelerTypeItem in form.travelerType %}
                                    {% if (app.request.get('travelerType') == 0) and (key == 0)%}
                                        {{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'}}) }}
                                    {% endif %}
                                    {% if (app.request.get('travelerType') == 1) and (key == 1)%}
                                        {{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'}}) }}
                                    {% else %}
                                        {{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline'}}) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 second-group">
                            {{ form_row(form.departFrom, {attr: {class: '','placeholder': 'Išvykimo adresas'} }) }}
                        </div>

                        <div class="col-sm-12 col-md-2 second-group">
                            {{ form_row(form.destination, {attr: {class: '','placeholder': 'Atvykimo adresas'} }) }}
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-1 second-group">
                            <input type="text" id="trip_search_departTime" name="trip_search[departDate]" class="form-control" />

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class='multi-range' data-lbound='0:00' data-ubound='24:00'>
                                <input type='range' name="timeFrom"
                                       min='0' max='24' step='1' value='0'
                                       oninput='this.parentNode.dataset.lbound=this.value+":00";' />
                                <input type='range' name="timeTo"
                                       min='1' max='24' step='1' value='24'
                                       oninput='this.parentNode.dataset.ubound=this.value+":00";' />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 choose">
                            <div class="form-group form-check-inline">
                                <input type="checkbox" id="trip_search_smoke" name="trip_filter[smoke]" class="form-check form-check-inline form-check-input" value="1" />
                                <label class="form-check-label" for="trip_filter_smoke"></label>
                                <i class="fas fa-smoking"></i>
                            </div>
                            <div class="form-group form-check-inline second-choose">
                                <input type="checkbox" id="trip_search_pets" name="trip_filter[pets]" class="form-check form-check-inline form-check-input" value="1" />
                                <label class="form-check-label" for="trip_filter_pets"></label>
                                <i class="fas fa-paw"></i>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-1">
                            {{ form_widget(form.filter, {attr: {class: 'btn-form2'}}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <!--end-->
                </div>
            </div>
            <!--= END SEARCH=-->
            <div class="row light-bg detail-options-wrap">
                {% for trip in trips %}
                    <div class="col-sm-3 col-lg-12 col-xl-3 featured-responsive">
                        <div class="featured-trip-wrap">
                            <a href="{{ path('trip_show', {'id': trip.id}) }}">
                                <img src="images/{{ trip.travelerType }}.png" class="img-fluid" alt="#">
                                <div class="featured-title-box">
                                    <h6><span class="fas fa-map-marker-alt"></span> {{ trip.departFrom }} <i class="fas fa-long-arrow-alt-right"></i> {{ trip.destination }}</h6>

                                    <div class="bottom-info">
                                        <span class="fas fa-clock"></span> {{ trip.departTime|date("Y-m-d H:i") }}
                                        <div class="info">Papildoma informacija</div>
                                        <div class="info">
                                            {% if trip.smoke == 1 %}
                                                <i class="fas fa-smoking pinkBorder"></i>
                                            {% endif %}
                                            {% if trip.pets == 1 %}
                                                &nbsp;<i class="fas fa-paw pinkBorder"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {#</div>#}
    {#</section>#}
    {#<div class="row mt-3">#}
        {#<div class="col-md-12 col-lg-3">#}
            {#<div class="row mb-2">#}
                {#<div class="col">#}
                    {#<button class="btn btn-white" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#}
                        {#Filtruoti#}
                    {#</button>#}
                    {#<div class="collapse filter" id="collapseExample">#}
                        {#{{ form_start(form, {attr: {class: 'px-4 py-3'}}) }}#}
                        {#<div class="row mt-1">#}
                            {#<div class="col alignCenter">#}
                                {#{% for key, travelerTypeItem in form.travelerType %}#}
                                    {#{% if (app.request.get('travelerType') == 0) and (key == 0)%}#}
                                        {#{{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'}}) }}#}
                                    {#{% endif %}#}
                                    {#{% if (app.request.get('travelerType') == 1) and (key == 1)%}#}
                                        {#{{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'}}) }}#}
                                    {#{% else %}#}
                                        {#{{ form_widget(travelerTypeItem, {attr: {class: 'form-check form-check-inline'}}) }}#}
                                    {#{% endif %}#}
                                {#{% endfor %}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col alignCenter">#}
                                {#{{ form_row(form.departFrom, {attr: {class: '','placeholder': 'Įrašykite išvykimo adresą', 'value' :  app.request.get("trip_search")['departFrom'] } }) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col alignCenter">#}
                                {#{{ form_row(form.destination, {attr: {class: '','placeholder': 'Įrašykite atvykimo adresą', 'value' :  app.request.get("trip_search")['destination']} }) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col alignCenter">#}
                                {#{{ form_row(form.departDate, {attr: {class: '', 'value' :  app.request.get("trip_search")["departDate"]} }) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col alignCenter">#}
                                {#{{ form_row(form.departTime, {attr: {class: '', 'value' : app.request.get("trip_search")["departTime"]} }) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col alignCenter">#}
                                {#{% if app.request.get('smoke') == 1  %}#}
                                    {#{{ form_row(form.smoke, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'} }) }}#}
                                {#{% else %}#}
                                    {#{{ form_row(form.smoke, {attr: {class: 'form-check form-check-inline'} }) }}#}
                                {#{% endif %}#}
                                {#{% if app.request.get('pets') == 1  %}#}
                                    {#{{ form_row(form.pets, {attr: {class: 'form-check form-check-inline', 'checked': 'checked'} }) }}#}
                                {#{% else %}#}
                                    {#{{ form_row(form.pets, {attr: {class: 'form-check form-check-inline'} }) }}#}
                                {#{% endif %}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row btn-row">#}
                            {#<div class="col alignCenter">#}
                                {#{{ form_widget(form.filter, {attr: {class: 'btn-pink'}}) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#{{ form_end(form) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-12 col-lg-8 ml-lg-auto mt-sm-4 mt-md-4 mt-lg-0">#}
            {#<div class="row d-none d-sm-block search-form adw-list">#}
                {#<div class="col">#}
                    {#{% for trip in trips %}#}
                        {#<div class="row adw-list-row">#}
                            {#<div class="col-4 info">#}
                                {#<h5>{{ trip.User }}</h5>#}
                                {#{% if trip.travelerType == 0 %}#}
                                    {#<i class="fas fa-car pinkBorder"></i>#}
                                {#{% endif %}#}
                                {#{% if trip.travelerType == 1 %}#}
                                    {#<i class="fas fa-child pinkBorder"></i>#}
                                {#{% endif %}#}
                                {#{% if trip.smoke == 1 %}#}
                                    {#<i class="fas fa-smoking pinkBorder"></i>#}
                                {#{% endif %}#}
                                {#{% if trip.pets == 1 %}#}
                                    {#&nbsp;<i class="fas fa-paw pinkBorder"></i>#}
                                {#{% endif %}#}
                            {#</div>#}
                            {#<div class="col-6 info">#}
                                {#<div class="itemData">{{ trip.departFrom }} <i class="fas fa-long-arrow-alt-right"></i> {{ trip.destination }}</div>#}
                                {#<div class="itemData">{{ trip.departTime|date("Y-m-d H:i") }}</div>#}
                            {#</div>#}
                            {#<div class="col-2 adw-col">#}
                                {#<a class="btn btn-outline-dark" href = "{{ path('trip_show', {'id': trip.id}) }}" title="Peržiūrėti"><i class="fas fa-eye"></i></a>#}
                                {#{% if (is_granted("IS_AUTHENTICATED_REMEMBERED") and (trip.User==app.user.username)) %}#}
                                    {#<div class="editAdw">#}
                                        {#<a href="{{ path('trip_edit', {'id': trip.id}) }}" title="Redaguoti" class="btn btn-outline-dark" alt="Redaguoti"><i class="fas fa-edit"></i></a>#}
                                    {#</div>#}
                                {#{% endif %}#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
            {#<div class="row d-block d-sm-none search-form">#}
                {#<div class="col">#}
                    {#{% for trip in trips %}#}
                        {#<div class="row">#}
                            {#<div class="col">#}
                                {#<h5>{{ trip.User }}</h5>#}
                                {#{% if trip.travelerType == 0 %}#}
                                    {#<i class="fas fa-car pinkBorder"></i>#}
                                {#{% endif %}#}
                                {#{% if trip.travelerType == 1 %}#}
                                    {#<i class="fas fa-child pinkBorder"></i>#}
                                {#{% endif %}#}
                                {#{% if trip.smoke == 1 %}#}
                                    {#<i class="fas fa-smoking pinkBorder"></i>#}
                                {#{% endif %}#}
                                {#{% if trip.pets == 1 %}#}
                                    {#&nbsp;<i class="fas fa-paw pinkBorder"></i>#}
                                {#{% endif %}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col">#}
                                {#<div class="itemData">{{ trip.departFrom }} <i class="fas fa-long-arrow-alt-right"></i> {{ trip.destination }}</div>#}
                                {#<div class="itemData">{{ trip.departTime|date("Y-m-d H:i") }}</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row mb-2 separatingLine">#}
                            {#<div class="col">#}
                                {#<a class="btn btn-outline-dark mb-1" href = "{{ path('trip_show', {'id': trip.id}) }}" title="Peržiūrėti"><i class="fas fa-eye"></i></a>#}
                                {#{% if (is_granted("IS_AUTHENTICATED_REMEMBERED") and (trip.User==app.user.username)) %}#}
                                    {#<a href="{{ path('trip_edit', {'id': trip.id}) }}" title="Redaguoti" class="btn btn-outline-dark" alt="Redaguoti"><i class="fas fa-edit"></i></a>#}
                                {#{% endif %}#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}

            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}