{% extends 'base.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"><h2>Skelbimas</h2></div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% if trip.travelerType == 0 %}
                <div>Vairuotojas <span class="fa fa-car"></span></div>
            {% endif %}
            {% if trip.travelerType == 1 %}
                <div>Keleivis <img class=icons src="/images/passenger.png" alt="keleivis" width="35" height="21"></div>
            {% endif %}
            <div>Išvykimo data ir laikas: {{ trip.departTime|date("Y-m-d H:i") }}</div>
            <div>Išvykimo adresas: {{ trip.departFrom }}</div>
            <div>Atvykimo adresas: {{ trip.destination }}</div>
            <div>Vietų skaičius: {{ trip.seats }}</div>
            {% if trip.smoke==0 %}
            <div>Nerūkoma</div>
            {% endif %}
            {% if trip.smoke==1 %}
                <div>Galima rūkyti</div>
            {% endif %}
            {% if trip.pets==0 %}
                <div>Gyvūnai nepageidaujami</div>
            {% endif %}
            {% if trip.pets==1 %}
                <div>Galima vežtis gyvūną</div>
            {% endif %}
            <div>Papildoma informacija: {{ trip.information }}</div>

        </div>
        <div class="col-2"><button class="btn btn-outline-dark" style="margin: 10px" onclick="location.href = '{{ path('add_trip', {'id': trip.id}) }}';">Redaguoti</button></div>
    </div>
{% endblock %}
