{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 search-form">
            <table class="table table-striped" style="background: rgba(229, 230, 230, 0.6)">
                <thead>
                <tr>
                    <th scope="col">Skelbimas</th>
                    <th scope="col">
                        <a class="btn btn-yellow" href = "{{ path('add_edit_trip', {'id': trip.id}) }}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-yellow" href = "{{ path('search') }}"><i class="fas fa-step-backward"></i></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Skelbimą sukūrė</th>
                    <td>{{ trip.User }}</td>
                </tr>
                <tr>
                    <th scope="row">El. paštas</th>
                    <td>{{ trip.User.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Vairuotojas ar keleivis</th>
                    {% if trip.travelerType == 1 %}
                    <td><i class="fas fa-child" style="font-size: 25px"></i></td>
                    {% else %}
                        <td><i class="fas fa-car"></i></td>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="row">Išvykimo data ir laikas:</th>
                    <td>{{ trip.departTime|date("Y-m-d H:i") }}</td>
                </tr>
                <tr>
                    <th scope="row">Išvykimo adresas:</th>
                    <td>{{ trip.departFrom }}</td>
                </tr>
                <tr>
                    <th scope="row">Atvykimo adresas:</th>
                    <td>{{ trip.destination }}</td>
                </tr>
                <tr>
                    <th scope="row">Vietų skaičius:</th>
                    <td>{{ trip.seats }}</td>
                </tr>
                <tr>
                    <th scope="row">Rūkymas:</th>
                    {% if trip.smoke==0 %}
                    <td><i class="material-icons">smoke_free</i></td>
                    {% endif %}
                    {% if trip.smoke==1 %}
                    <td><i class="material-icons">smoking_rooms</i></td>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="row">Gyvūnai:</th>
                    {% if trip.pets==0 %}
                        <td><img src="{{ asset('images/no-pets.png') }}"/></td>
                    {% endif %}
                    {% if trip.pets==1 %}
                        <td><i class="fas fa-paw"></i></td>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="row">Papildoma informacija:</th>
                        <td>{{ trip.information }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
