<!DOCTYPE html>
<html class="html-changeHeight">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "Mums pakeliui!" }}{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block canonical_meta %}{% endblock %}
</head>

<body class="page-look">
{% block header %}
    <header>
        <div class="header-look" id="top_nav">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <a href="{{ path('home') }}"><div class="logo"><img src="../images/logo-yellow.png" class="logo-img">Mums pakeliui!</div></a>
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="col-1"><a href = "{{ path('add_edit_trip') }}" class="btn btn-yellow" title="Kurti skelbimą"><i class="fas fa-plus colorYellow"></i></a></div>
                        <div class="col-3 text-right">
                            <div>
                                <ul class="menu">
                                    <li><i class="fas fa-user"></i> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                        <i class="fas fa-sort-down colorYellow"></i>
                                        <ul class="sub-menu">
                                            <li><a href="{{ path('fos_user_profile_show') }}">Naudotojo profilis</a></li>
                                            <li><a href="{{ path('fos_user_profile_edit') }}">Redaguoti profilį</a></li>
                                            <li><a href="{{ path('fos_user_change_password') }}">Keisti slaptažodį</a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-1"><a href = "{{ path('fos_user_security_login') }}" class="btn btn-yellow" title="Kurti skelbimą"><i class="fas fa-plus colorYellow"></i></a></div>
                        <div class="col-1">
                            <a class="btn btn-yellow" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">
                                <i class="fab fa-facebook"></i>
                            </a></div>
                        <div class="col-1">
                            <a class="btn btn-yellow" href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" >
                                <i class="fab fa-google"></i>
                            </a></div>
                        <div class="col-1">
                            <ul class="menu">
                                <li><i class="fas fa-sign-in-alt colorYellow mt-3" style="font-size: 50px"></i>
                                    <i class="fas fa-sort-down colorYellow"></i>
                                    <ul class="sub-menu">
                                        <li><a href="{{ path('fos_user_security_login') }}">Prisijungti</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}">Registruotis</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container main">
    {% block content %}{% endblock %}

    {% block footer %}
        <div class="footer-look">
            <div class="footer-text">
                <b>Su mumis keliauti smagiau. Padėsime vairuotojams ir keleiviams rasti vieniems kitus.</b> |
                <a href="#">Kontaktinė informacija</a> |
                <a href="#">Pagalba</a>
                <div>
                    © 2018 Mums pakeliui!
                </div>
            </div>
        </div>
    {% endblock %}
</div>
{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="{{ asset('build/js/main.js') }}" ></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>