<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "Mums pakeliui!" }}{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <!-- Bootstrap CSS -->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans|Roboto" rel="stylesheet">
        <!-- Awesome Font Icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
        <link href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.bootstrap.min.css" rel="stylesheet" />
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{ asset('/favicon.ico')}}" type="image/x-icon">
    {% block canonical_meta %}{% endblock %}
</head>

<body>
{% block header %}
    <!--============================= HEADER =============================-->
    <div class="nav-menu">
        <div class="bg transition">
            <div class="container-fluid fixed">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="{{ path('home') }}"><img src="images/logo-or.png" width="55px"> Mums pakeliui</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fas fa-bars"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-user"></i> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                                <span class="fas fa-angle-down"></span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="{{ path('my_trips') }}">Mano kelionės</a>
                                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Mano profilis</a>
                                                <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Redaguoti profilį</a>
                                                <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Keisti slaptažodį</a>
                                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Atsijungti</a>
                                            </div>
                                        </li>
                                        <li><a href="{{ path('trip_add') }}" class="btn btn-outline-dark top-btn"><i class="fas fa-plus"></i> Pridėti kelionę</a></li>
                                    {% else %}

                                        <li>
                                            <div class="login">
                                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">
                                                    <div class="icon-login1"><i class="fab fa-facebook-f"></i></div><br>Prisijungti su Facebook
                                                </a>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="login">
                                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" >
                                                    <div class="icon-login2"><i class="fab fa-google"></i></div><br>Prisijungti su Google
                                                </a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <div class="login">
                                                <a class="" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <div class="icon-login3"><i class="fas fa-unlock-alt"></i></div><br>Prisijungti
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Prisijungti</a>
                                                    <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">Registruotis</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SEARCH -->
{% endblock %}

<div class="container mainContent">
{% block content %}{% endblock %}
</div>

{% block footer %}
    <!--============================= FOOTER =============================-->
    <footer class="footer-block">
        <div class="copyright">
            <p class="mt-2">Su mumis keliauti smagiau. Padėsime vairuotojams ir keleiviams rasti vieniems kitus.</p>
            <p>© 2018 Mums pakeliui! </p>

        </div>
    </footer>
    <!--//END FOOTER -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.ui.core.min.js"></script>
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2018.1.221/js/cultures/kendo.culture.lt-LT.min.js"></script>
    <script src="{{ asset('build/js/main.js') }}" ></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script>
        function initLib(){
            var input = document.getElementById('trip_search_departFrom');
            var autocomplete = new google.maps.places.Autocomplete(input);
            var input2 = document.getElementById('trip_search_destination');
            var autocomplete2 = new google.maps.places.Autocomplete(input2);
            var input3 = document.getElementById('trip_departFrom');
            var autocomplete3 = new google.maps.places.Autocomplete(input3);
            var input4 = document.getElementById('trip_destination');
            var autocomplete4 = new google.maps.places.Autocomplete(input4);

        }
        google.maps.event.addDomListener(window, 'load', init);
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB8bciunVlIgmtF5BLbil6zPsfXJHO1WFY&callback=initLib">
    </script>

{% endblock %}
</body>
</html>