<!DOCTYPE html>
<html class="html-changeHeight">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "Mums pakeliui!" }}{% endblock %}</title>
    {% block stylesheets %}
        <!--<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

        <style>
            .html-changeHeight
            {height: 100%}
            .page-look
            {
                background-image: url('/images/keliasbackground.png');
                background-size: 100%;
                background-repeat: no-repeat;
                font-family: arial, sans-serif;
                background-color: #eaedf4;
                color: #232c46;
                min-height: 100%;
                position:relative;
                padding-bottom: 50px;
            }

            .header-look
            {
                background-color: rgba(78, 110, 165, 0.5);
            }

            a { color: #eaedf4; }
            a:hover {
                text-decoration: none;
                color: #9ba8cd;
            }
            .icons {icon: auto}
            .footer-look {
                width: 100%;
                background-color: #232c46;
                color: #eaedf4;
                height: 50px;
                font-size: small;
                text-align: center;
                position: absolute;
                left: 0 ; right: 0; bottom: 0;
            }

        </style>
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block canonical_meta %}{% endblock %}
</head>

<body class="page-look">
{% block header %}
    <header>
        <div class="header-look">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>Mums pakeliui!</h1>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-outline-dark mt-2">Prisijungti</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div align="justify">
                <h5>Vykstate į kitą gatvę, kitą miestą ar kitą šalį?</h5>
            <h5>Pakeleivių rasite užpildę šiuos laukus:</h5>
        </div>
            <form>
                <div class="form-group">
                    <label for="Departure">Išvykimo adresas</label>
                    <input class="form-control" id="InputDeparture" placeholder="Įrašykite išvykimo adresą">
                    <small class="form-text text-muted">Galite pildyti ir vieną lauką, tačiau tuomet paieškos rezultatai nebus tikslūs.</small>
                </div>
                <div class="form-group">
                    <label for="Arrival">Atvykimo adresas</label>
                    <input class="form-control" id="InputArrival" placeholder="Įrašykite atvykimo adresą">
                </div>
                <button type="button" class="btn btn-outline-dark mt-2" onclick="location.href = '{{ path('search') }}';">Ieškoti</button>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div align="justify">
                <h5>Neradote pakeleivių?</h5>
                    <h5>Sukurkite savo skelbimą!</h5>
            </div>
        <button type="button" class="btn btn-outline-dark" onclick="location.href = '{{ path('add_edit_trip') }}';">Kurti skelbimą</button>
    </div>
    <div class="col-3"></div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer-look">
        <b>Su mumis keliauti smagiau. Padėsime vairuotojams ir keleiviams rasti vieniems kitus.</b> |
        <a href="#!">Kontaktinė informacija</a> |
        <a href="#!">Pagalba</a>
        <div>
            © 2018 Mums pakeliui!
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>

</html>
