<!DOCTYPE html>
<html class="html-changeHeight">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "Mums pakeliui!" }}{% endblock %}</title>
    {% block stylesheets %}
        <!--<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block canonical_meta %}{% endblock %}
</head>

<body class="page-look">
{% block header %}
    <header>
        <div class="header-look">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>Mums pakeliui!</h1>
                    </div>
                    <div class="col-2 text-right">
                        <a class="btn btn-outline-dark mt-2" href = "{{ path('fos_user_security_login') }}">Prisijungti</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container">
    {% block content %}{% endblock %}


    {% block footer %}
        <div class="footer-look">
            <b>Su mumis keliauti smagiau. Padėsime vairuotojams ir keleiviams rasti vieniems kitus.</b> |
            <a href="#!">Kontaktinė informacija</a> |
            <a href="#!">Pagalba</a>
            <div>
                © 2018 Mums pakeliui!
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <script type="text/javascript">
            function init() {
                var input = document.getElementById('trip_search_departFrom');
                var autocomplete = new google.maps.places.Autocomplete(input);
                var input2 = document.getElementById('trip_search_destination');
                var autocomplete2 = new google.maps.places.Autocomplete(input2);
            }
            google.maps.event.addDomListener(window, 'load', init);
        </script>

    {% endblock %}
</body>

</html>