{% extends 'base.html.twig' %}

{% block title %}Mano kelionės{% endblock %}

{% block content %}
{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
    <div class="row mt-3">
        <h4>Kelionių sąrašas</h4>
        <div class="col-12">
            {% for trip in trips %}
                <div class="row adw-list-row">
                    <div class="col-1 adw-col"># {{ trip.id }}
                        {% if trip.travelerType == 0 %}
                            <i class="fa fa-car" style="font-size:30px"></i>
                        {% endif %}
                        {% if trip.travelerType == 1 %}
                            <img class="icons" src="/images/passenger.png" width="34px" alt="keleivis">
                        {% endif %}
                    </div>
                    <div class="col-5 info">
                        <div class="destination">{{ trip.departFrom }} <i class="fas fa-long-arrow-alt-right colorYellow"></i> {{ trip.destination }}</div>
                    </div>
                    <div class="col-2 info">
                        <div class="departTime">{{ trip.departTime|date("Y-m-d H:i") }}</div>
                    </div>
                    <div class="col-2 info">
                        {% if trip.smoke == 1 %}
                            <i class="fas fa-smoking yellowBorder"></i>
                        {% endif %}
                        {% if trip.pets == 1 %}
                            &nbsp;<i class="fas fa-paw yellowBorder"></i>
                        {% endif %}
                    </div>

                    <div class="col-2 adw-col">
                        <a class="btn btn-outline-dark" href = "{{ path('trip_show', {'id': trip.id}) }}"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('trip_edit', {'id': trip.id}) }}" title="Redaguoti" class="btn btn-outline-dark" alt="Redaguoti"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('trip_delete', {'id': trip.id}) }}" title="Redaguoti" class="btn btn-outline-dark" alt="Redaguoti"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <h4>Rezervacijų sąrašas </h4>
    <div class="col-12" style="padding:0">

    {% for reservation in reservations if reservation is defined %}
        {% if reservation.type %}
        {% set invitation %}

    {% endset %}
    {% else %}
        <div class="row adw-list-row">
            <div class="col-1 adw-col"># {{ reservation.Trip.id }}
            </div>
            <div class="col-5 info">
                <div class="destination">{{ reservation.Trip.departFrom }} <i class="fas fa-long-arrow-alt-right colorYellow"></i> {{ reservation.Trip.destination }}</div>
                <div class="departTime">{{ reservation.Trip.departTime|date("Y-m-d H:i") }}</div>
            </div>
            <div class="col-3 info">
                {{ reservation.User}}<br>  Vietų skaičius: {{ reservation.seats }}<br>{{ reservation.User.email }}
            </div>
            <div class="col-2 info">
                <b>Statusas: </b>
                    {% if reservation.status ==  2 %}
                         Atmesta
                    {% elseif reservation.status ==  1 %}
                         Patvirtinta
                    {% else %}
                         Nauja
                {% endif %}<br>
                {{ reservation.date|date("Y-m-d") }}
            </div>
            <div class="col-1 adw-col">
                <a href="{{ path('trip_edit', {'id': reservation.Trip.id}) }}" title="Patvirtinti" class="btn btn-outline-dark" alt="Patvirtinti"><i class="fas fa-handshake"></i></a>
                <a href="{{ path('reservation_reject', {'id': reservation.id}) }}" title="Atmesti" class="btn btn-outline-dark" alt="Atmesti"><i class="fas fa-times"></i></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <h4>Pasiulimų rezervuoti sąrašas</h4>
    {% if invitation is defined %}
        {{ invitation }}
    {% endif %}
{% endif %}
{% endblock %}
