{% extends 'base.html.twig' %}

{% block title %}Mano kelionės{% endblock %}

{% block content %}
    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
        <div class="row search-wrap">
            <div class="col-xl-8 reserve-block">
                <h5>Mano kelionės</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-8 go-back">
                <a href="javascript:history.back()"><i class="fas fa-long-arrow-alt-left"></i>
                    Atgal</a>
            </div>
        </div>
        <div class="row light-bg booking-details_wrap">
            <div class="booking-checkbox_wrap col-md-12 col-lg-10 col-xl-8">
                <!-- Nav tabs -->
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#trips" data-toggle="tab" class="first-tab">Mano skelbimai</a></li>
                        <li><a href="#reservation" data-toggle="tab">Mano keleiviai</a></li>
                        <li><a href="#yourReservation" data-toggle="tab">Užklausos vairuotojams</a></li>
                        <li><a href="#offers" data-toggle="tab">Vairuotojų pasiūlymai</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="trips">
                            {% for trip in trips if trips is defined %}
                                <div class="row tab-list-row">
                                    <div class="col-xs-1 ml-0 mr-2 info">
                                        {% if trip.travelerType == constant('TYPE_DRIVER', trip) %}
                                            <i class="fa fa-car tabs-icon"></i>
                                        {% endif %}
                                        {% if trip.travelerType == constant('TYPE_PASSENGER', trip) %}
                                            <i class="fas fa-child tabs-icon"></i>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 ml-0 info">
                                        <span class="fas fa-map-marker-alt"></span> {{ trip.departFrom }}
                                        <div class="arrow-down"><span class="fas fa-long-arrow-alt-down"></span>
                                        </div>
                                        <span class="fas fa-map-marker-alt green-marker"></span> {{ trip.destination }}
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 mx-0 info">
                                        <div class="reserve-description"><span
                                                    class="far fa-calendar-alt"></span> {{ trip.departTime|date("Y-m-d") }}
                                        </div>
                                        <div class="reserve-description"><span
                                                    class="fas fa-clock"></span> {{ trip.departTime|date("H:i") }}
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 ml-0 mr-auto info">
                                        {% set seats = trip.seats %}
                                        {% for reservation in reservations if reservation.trip == trip and reservation.status == constant('App\\Controller\\ReservationController::STATUS_CONFIRMED') and reservation.type == constant('App\\Controller\\ReservationController::RESERVATION_TYPE_RESERVATION')  %}
                                            {% set seats = seats - reservation.seats %}
                                            {% for i in 1..reservation.seats %}
                                                {% if reservation.User.avatar is not null %}
                                                    <img src="{{ reservation.User.avatar }}"
                                                         title="{{ reservation.user }}  {{ reservation.User.email }}"
                                                         class="customer-img-reservation">
                                                {% else %}
                                                    <img src="/images/avatar.png" title="{{ reservation.user }}  {{ reservation.User.email }}"
                                                         class="customer-img-reservation">
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        {% for i in 1..seats if seats > 0 %}
                                            <i class="material-icons img-reservation-free">airline_seat_recline_extra</i>
                                        {% endfor %}
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-2 mx-0 info">
                                        <a class="btn btn-outline-dark" href="{{ path('trip_show', {'id': trip.id}) }}" title="Peržiūrėti"><i class="fas fa-eye"></i></a>
                                        {{ form_start(edit_form, {'action': path('trip_edit', {'id': trip.id}), 'method': 'POST'}) }}
                                            <button title="Redaguoti" class="btn btn-outline-dark edit-btn" alt="Redaguoti"><i class="fas fa-edit"></i></button>
                                        {{ form_end(edit_form) }}
                                        <a href="{{ path('trip_delete', {'id': trip.id}) }}" class='btn btn-outline-dark delete-btn'><i
                                                    class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col ml-1 tabs-text">
                                    Skelbimų nėra.
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="reservation">
                            {% for reservation in reservations if reservation and reservation.type ==  constant('App\\Controller\\ReservationController::RESERVATION_TYPE_RESERVATION') and reservation.status is null %}
                                <div class="row tab-list-row">
                                    <div class="col-xs-12 col-sm-4 col-lg-4 info">
                                        <span class="fas fa-map-marker-alt"></span> {{ reservation.Trip.departFrom }}
                                        <div class="arrow-down"><span class="fas fa-long-arrow-alt-down"></span>
                                        </div>
                                        <span class="fas fa-map-marker-alt green-marker"></span> {{ reservation.Trip.destination }}
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-lg-2 info">
                                        <div class="reserve-description"><span
                                                    class="far fa-calendar-alt"></span> {{ reservation.Trip.departTime|date("Y-m-d") }}
                                        </div>
                                        <div class="reserve-description"><span
                                                    class="fas fa-clock"></span> {{ reservation.Trip.departTime|date("H:i") }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-lg-4 info">
                                        {{ reservation.User }}<br> <i
                                                class="material-icons">airline_seat_recline_extra</i> {{ reservation.seats }}
                                        <br>{{ reservation.User.email }}
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-lg-2 info">
                                        <a href="{{path('reservation_confirmed', { 'id': reservation.id}) }}" class='btn btn-outline-dark confirm-reject-btn'><i
                                                    class="fas fa-handshake"></i></a>
                                        <a href="{{path('reservation_reject', { 'id': reservation.id}) }}" class='btn btn-outline-dark confirm-reject-btn'><i
                                                    class="fas fa-times"></i></a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col ml-1 tabs-text">
                                    Šiuo metu neturite naujų rezervacijų.
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="yourReservation">
                            {% for yourReservation in yourReservations if yourReservation is defined %}
                                <div class="row tab-list-row">
                                    <div class="col-xs-12 col-sm-3 mr-0 info">
                                        <span class="fas fa-map-marker-alt"></span> {{ yourReservation.Trip.departFrom }}
                                        <div class="arrow-down"><span class="fas fa-long-arrow-alt-down"></span>
                                        </div>
                                        <span class="fas fa-map-marker-alt green-marker"></span> {{ yourReservation.Trip.destination }}
                                    </div>
                                    <div class="col-xs-6 col-sm-3 mx-auto info">
                                        <div class="reserve-description"><span
                                                    class="far fa-calendar-alt"></span> {{ yourReservation.Trip.departTime|date("Y-m-d") }}
                                        </div>
                                        <div class="reserve-description"><span
                                                    class="fas fa-clock"></span> {{ yourReservation.Trip.departTime|date("H:i") }}
                                        </div>
                                        <i class="material-icons">airline_seat_recline_extra</i> {{ yourReservation.seats }}
                                    </div>
                                    <div class="col-xs-12 col-sm-4 mx-auto info">
                                        {{ yourReservation.Trip.user }}<br>
                                        {{ yourReservation.Trip.phone }}<br>
                                        {{ yourReservation.Trip.User.email }}
                                    </div>

                                    <div class="col-xs-12 col-sm-2 mr-0 info">
                                        {% if yourReservation.status ==  constant('App\\Controller\\ReservationController::STATUS_REJECTED') %}
                                            <b>Statusas: </b><span style="color:red">Atmesta</span>
                                        {% elseif yourReservation.status ==  constant('App\\Controller\\ReservationController::STATUS_CONFIRMED') %}
                                            <b>Statusas: </b><span style="color:green">Patvirtinta</span>
                                        {% else %}
                                            <b>Statusas: </b>Nepatvirtinta
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col ml-1 tabs-text">
                                    Dar nepasirinkote vairuotojų.
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="offers">
                            {% for reservation in reservations if reservation and reservation.type == constant('App\\Controller\\ReservationController::RESERVATION_TYPE_OFFER') %}
                                <div class="row tab-list-row">
                                    <div class="col-xs-12 ml-0 info">
                                        <span class="fas fa-map-marker-alt"></span> {{ reservation.Trip.departFrom }}
                                        <div class="arrow-down"><span class="fas fa-long-arrow-alt-down"></span>
                                        </div>
                                        <span class="fas fa-map-marker-alt green-marker"></span> {{ reservation.Trip.destination }}
                                    </div>
                                    <div class="col-xs-12 mx-auto info">
                                        <div class="reserve-description"><span
                                                    class="far fa-calendar-alt"></span> {{ reservation.Trip.departTime|date("Y-m-d") }}
                                        </div>
                                        <div class="reserve-description"><span
                                                    class="fas fa-clock"></span> {{ reservation.Trip.departTime|date("H:i") }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 mx-auto info">
                                        {{ reservation.User }}<br>{{ reservation.User.email }}<br>
                                    </div>
                                    <div class="col-xs-12 mr-0 info">
                                        <a href="{{ path('trip_show', {'id': reservation.offer}) }}"
                                           title="Rezervuoti" class="btn btn-outline-dark">Rezervuoti</a>
                                        <a href="{{path('reservation_reject', { 'id': reservation.id}) }}" class='btn btn-outline-dark offer-reject-btn'><i
                                                    class="fas fa-times"></i></a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col ml-1 tabs-text">
                                    Pasiūlymų nėra.
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script>
        $('.nav-tabs > li:first-child > a')[0].click();
        $(document).on('click', 'a.confirm-reject-btn', function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                type:  'PUT',
                dataType: 'JSON',
                success: function() {
                    $('#reservation').load(document.URL + ' #reservation');
                }
            });
        });
        $(document).on('click', 'a.offer-reject-btn', function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                type:  'PUT',
                dataType: 'JSON',
                success: function() {
                    $('#offers').load(document.URL + ' #offers');
                }
            });
        });
        $(document).on('click', 'a.delete-btn', function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                type:  'DELETE',
                data: {_method: 'delete'},
                dataType: 'JSON',
                success: function() {
                    window.location.reload();
                }
            });
        });
        $(document).on('click', 'a.first-tab', function(e) {
            window.location.reload();
        });
    </script>
{% endblock %}





